<table style="text-align:center">
<tr>
    <td valign="top">
        <br/> <b>{{ unassigned.length }} Unassigned Attendees</b>
        <div ng-repeat="attendee in lists.unassigned">
            <a href="#/attendee/{{ attendee.id }}">{{ attendee.name }}</a> ({{ attendee.nights }})
        </div>
    </td>
    <td valign="top">
        <br/> <b>{{ assigned.length }} Already Assigned</b>
        <div ng-repeat="attendee in lists.assigned">
            <a href="#/attendee/{{ attendee.id }}">{{ attendee.name }}</a>
        </div>
    </td>
    <td valign="top">
        <b>{{ unconfirmed.length }} haven't filled out<br/>the volunteer checklist</b>
        <div ng-repeat="attendee in lists.unconfirmed">
            <a href="../registration/form?id={{ attendee.id }}">{{ attendee.name }}</a>
        </div>
    </td>
    <td valign="top">
        <br/> <b>{{ declined.length }} declined hotel space</b>
        <div ng-repeat="attendee in lists.declined">
            <a href="../registration/form?id={{ attendee.id }}">{{ attendee.name }}</a>
        </div>
    </td>
</table>
